name: Release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
env:
  RUSTFLAGS: "-Dwarnings"
jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: write
      attestations: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        run: rustup toolchain install stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: cargo-cache
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
      - name: Setup Python
        run: uv python install 3.12
      - name: Build
        run: uv build
      - name: Test (wheel)
        run: uv run --isolated --no-project --with dist/*.whl python tests/test_xml.py
      - name: Test (dist)
        run: uv run --isolated --no-project --with dist/*.tar.gz python tests/test_xml.py
      - name: Publish
        run: uv publish
